body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px;
}

.row {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    height: 700px;
}
.card-01 {
    background-color: bisque;
    position: relative;
    flex: ;
    height: 400px;
    margin: 20px;

}
.card11 {
    max-width: 200px;
}

.card12 {
    min-width: 300px;
    background-color: green;
}

.card-02 {
    background-color: grey;
    position: relative;
    flex: 1;
    max-width: 400px;
    height: 400px;
    margin: 20px;

}

.card-03 {
    background-color: black;
    position: relative;
    flex: 1;
    max-width: 400px;
    height: 400px;
    margin: 20px;

}

@media all and (max-width: 800px) {
    .card-01 {
        flex: 60%;
        max-width: 600px;
        height: 400px;
    }

    .card-02 {
        flex: 60%;
        max-width: 600px;
        height: 400px;
    }

    .card-03 {
        flex: 60%;
        max-width: 600px;
        height: 400px;
    }

}